<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Portal Resolutor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
#count {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

#count td, #count th {
	border: 1px solid #ddd;
	padding: 8px;
}

#count tr:nth-child(even) {
	background-color: #f2f2f2;
}

#count tr:hover {
	background-color: #ddd;
}

#count th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0052cc;
	color: white;
}

body {
  max-width: 700px;
  margin: auto;
  background-color: #f1edec;
}
</style>
<script type="text/javascript">

function envia(){
	document.forms[0].action="/";
	document.forms[0].submit();
}

</script>

</head>
<body>
	<br />
	<br />
	<form action="#" th:action="@{/web/tosearch?page=1}" th:object="${tosearch}" method="get">
	<table id="count">
		<tr>
			<th>Index</th>
			<th>Atribut</th>
			<th>Text</th>
		</tr>
		<tr>
			<td>
				<select id="indice" name="indice" onchange="envia()">
				    <option th:each="index : ${indices.indiceList}"
				        th:value="${index.id}"
				        th:text="${index.nombre}" th:selected="${index.id}==${indexSelected}">
				    </option>
				</select>
			</td>
			<td>
				<select id="campo" name="campo">
				  	<option th:each="atributo : ${atributos.atributoList}"
				        th:value="${atributo.id}"
				        th:text="${atributo.nombre}">
				    </option>
				</select>
			</td>
			<td><textarea rows="4" cols="50" name="texto" id="texto" th:required="required"></textarea></td>
		</tr>
		<tr><td colspan="3"><button type="submit" id="search" name="Search">Search</button></td>
	</table> 
	</form>
</body>
</html>