<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Portal Resolutor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
#count {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#count td, #count th {
	border: 1px solid #ddd;
	padding: 8px;
}

#count tr:nth-child(even) {
	background-color: #f2f2f2;
}

#count tr:hover {
	background-color: #ddd;
}

#count th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0052cc;
	color: white;
}

#countdiv {
	border: 1px solid #ddd;
	padding: 8px;
	background-color: #f2f2f2;
}

.pagination-div {
	user-select: none;
}
.pagination-div span {
	border-radius:3px;
	border:1px solid #999;
   	padding:5px;
   	margin:10px 0px 0px 10px;
   	display:inline-block
}
span.selected {
	background:#ccf;
}

#negrita {
	font-weight: bold;
	color: blue;
}
em {
 	font-weight: bold;
	color: red;
}

ol {
  padding-left: 2rem;
  list-style-type:decimal;
}
body {
  max-width: 1500px;
  margin: auto;
  background-color: #f1edec;
}
</style>

</head>
<body>
	<br />
	<a th:href="@{/}" ><img th:src="@{/home.png}" width="40" height="40" /></a>
	<br /><br />
	<div>Text cercat: "<span id="negrita" th:utext="${tosearchIn.texto}" />", del camp "<span id="negrita" th:text="${tosearchIn.campo}" />", de l'índex "<span id="negrita" th:text="${tosearchIn.indice}" />"</div>
	<div>Documents trobats: <span id="negrita" th:text="${searchCount}" />, d'un total de <span id="negrita" th:text="${totalCount}" /></div>
	<br />
	<div th:if="${session.busqueda.indice} == ${T(cat.vn.pr.config.Constants).INDICE_ISSUE}">
		<!-- TABLA TITOL -->
		<table id="count" th:if="${page.content} !=null and !${page.content.empty} and ${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_TITOL}">
		    <tr>
		        <th>idJira</th>
		        <th>Score</th>
		        <th>Títol</th>
		        <th>Descripció</th>
		        <th>Solució tècnica</th>
		    </tr>	
		    <tr th:each="issue : ${page.content}">
		        <td><a th:href="@{'http://atlassian.viewnext.com/jira/browse/'+${issue.content.idJira}}" th:text="${issue.content.idJira}" target="_blank"></a></td>	
		        <td th:text="${issue.score}"></td>
		        <td>
	        		<ol th:each="texto : ${issue.highlightFields}">
	        			<li th:each="valor: ${texto.value}" th:utext="${valor}"></li>
	        		</ol>
		       </td>
		       <td th:utext="${issue.content.descripcio}"></td>
		       <td th:utext="${issue.content.solucioTecnica}"></td>
		    </tr>
		</table>
		<!-- TABLA DESCRIPCIO -->
		<table id="count" th:if="${page.content} !=null and !${page.content.empty} and ${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_DESCRIPCIO}">
		    <tr>
		        <th>idJira</th>
		        <th>Score</th>
		        <th>Títol</th>
		        <th>Descripció</th>
		        <th>Solució tècnica</th>
		    </tr>	
		    <tr th:each="issue : ${page.content}">
		        <td><a th:href="@{'http://atlassian.viewnext.com/jira/browse/'+${issue.content.idJira}}" th:text="${issue.content.idJira}" target="_blank"></a></td>	
		        <td th:text="${issue.score}"></td>
		        <td th:utext="${issue.content.titol}"></td>
		       	<td>
	        		<ol th:each="texto : ${issue.highlightFields}">
	        			<li th:each="valor: ${texto.value}" th:utext="${valor}"></li>
	        		</ol>
		       	</td>
		       	<td th:utext="${issue.content.solucioTecnica}"></td>
		    </tr>
		</table>
		<!-- TABLA TODO -->
		<table id="count" th:if="${page.content} !=null and !${page.content.empty} and ${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_TODO}">
		    <tr>
		        <th>idJira</th>
		        <th>Score</th>
		        <th>Títol</th>
		        <th>Descripció</th>
		        <th>Solució tècnica</th>
		    </tr>	
		    <tr th:each="issue : ${page.content}">
		        <td><a th:href="@{'http://atlassian.viewnext.com/jira/browse/'+${issue.content.idJira}}" th:text="${issue.content.idJira}" target="_blank"></a></td>	
		        <td th:text="${issue.score}"></td>
		        <td>
	        		<ol th:each="texto : ${issue.highlightFields}" th:if="${texto.key == 'titol'}">
	        			<li th:each="valor: ${texto.value}" th:utext="${valor}"></li>
	        		</ol>
		       	</td>
		       	<td>
	        		<ol th:each="texto : ${issue.highlightFields}" th:if="${texto.key == 'descripcio'}">
	        			<li th:each="valor: ${texto.value}" th:utext="${valor}"></li>
	        		</ol>
		       	</td>
		       	<td th:utext="${issue.content.solucioTecnica}"></td>
		       	
		    </tr>
		</table>
		
		<div class="pagination-div" th:if="${page.content} !=null and !${page.content.empty}">
		    <span th:if="${page.hasPrevious()}">
		        <a th:href="@{/web/tosearch(page=${page.number-1},size=${page.size})}" >Anterior</a>
		    </span>
		    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
		        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
		        <span th:unless="${page.number == i}">
		             <a th:href="@{/web/tosearch(page=${i},size=${page.size})}" >[[${i}+1]]</a>
		        </span>
		    </th:block>
		    <span th:if="${page.hasNext()}">
		        <a th:href="@{/web/tosearch/(${page.number+1},size=${page.size})}" >Següent</a>
		    </span>
		</div>
		<div id="countdiv" th:if="${page.content} ==null or ${page.content.empty}">No hi ha resultats</div>
	</div>
	
	<div th:if="${session.busqueda.indice} == ${T(cat.vn.pr.config.Constants).INDICE_DOCS}">
		<table id="count" th:if="${page.content} !=null and !${page.content.empty}">
		    <tr>
		    	<th>Score</th>
		        <th>Títol</th>
		        <th>Autor</th>
		        <th>ContentType</th>
		        <th th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_DATA}" th:text="${T(cat.vn.pr.config.Constants).CAMPO_DATA_NOMBRE}">
		    </tr>
		    <tr th:each="doc : ${page.content}">
		        <td th:text="${doc.score}"></td>
		    	<td th:text="${doc.content.attachment.title}">
		        <td th:text="${doc.content.attachment.author}">
		        <td th:text="${doc.content.attachment.content_type}">
		        <td th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_DATA}">
		        	<!-- <div th:each="texto : ${doc.highlightFields}" th:utext="${texto.value}"></div> -->
		        	<ol th:each="texto : ${doc.highlightFields}">
	        			<li th:each="valor: ${texto.value}" th:utext="${valor}"></li>
	        		</ol>
		        </td>
		    </tr>
		</table>
		
		<div class="pagination-div" th:if="${page.content} !=null and !${page.content.empty}">
		    <span th:if="${page.hasPrevious()}">
		        <a th:href="@{/web/tosearch(page=${page.number-1},size=${page.size})}" >Anterior</a>
		    </span>
		    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
		        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
		        <span th:unless="${page.number == i}">
		             <a th:href="@{/web/tosearch(page=${i},size=${page.size})}" >[[${i}+1]]</a>
		        </span>
		    </th:block>
		    <span th:if="${page.hasNext()}">
		        <a th:href="@{/web/tosearch/(${page.number+1},size=${page.size})}" >Següent</a>
		    </span>
		</div>
		
		<div id="countdiv" th:if="${page.content} ==null or ${page.content.empty}">No hi ha resultats</div>
	</div>
	
</body>
</html>