<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Portal Resolutor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
#count {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#count td, #count th {
	border: 1px solid #ddd;
	padding: 8px;
}

#count tr:nth-child(even) {
	background-color: #f2f2f2;
}

#count tr:hover {
	background-color: #ddd;
}

#count th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

#countdiv {
	border: 1px solid #ddd;
	padding: 8px;
	background-color: #f2f2f2;
}

.pagination-div {
	user-select: none;
}
.pagination-div span {
	border-radius:3px;
	border:1px solid #999;
   	padding:5px;
   	margin:10px 0px 0px 10px;
   	display:inline-block
}
span.selected {
	background:#ccf;
}

#negrita {
	font-weight: bold;
	color: blue;
}
em {
 	font-weight: bold;
	color: red;
}

</style>

</head>
<body>
	<br />
	<a th:href="@{/}" >Home</a>
	<br /><br />
	<div>Texto buscado: "<span id="negrita" th:utext="${tosearchIn.texto}" />", del campo "<span id="negrita" th:text="${tosearchIn.campo}" />", del índice "<span id="negrita" th:text="${tosearchIn.indice}" />"</div>
	<div>Documentos encontrados: <span id="negrita" th:text="${searchCount}" />, de un total de <span id="negrita" th:text="${totalCount}" /></div>
	<br />
	<div th:if="${session.busqueda.indice} == ${T(cat.vn.pr.config.Constants).INDICE_ISSUE}">
		<table id="count" th:if="${page.content} !=null and !${page.content.empty}">
		    <tr>
		        <th>idJira</th>
		        <th>score</th>
		        <th th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_TITOL}" th:text="${T(cat.vn.pr.config.Constants).CAMPO_TITOL_NOMBRE}">
		        <th th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_DESCRIPCIO}" th:text="${T(cat.vn.pr.config.Constants).CAMPO_DESCRIPCIO_NOMBRE}">
		        <th th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_TODO}" th:text="${T(cat.vn.pr.config.Constants).CAMPO_TITOL_NOMBRE}">
		        <th th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_TODO}" th:text="${T(cat.vn.pr.config.Constants).CAMPO_DESCRIPCIO_NOMBRE}">
		    </tr>	
		    
		    <tr th:each="issue : ${page.content}">
		        <td th:text="${issue.content.idJira}"></td>	
		        <td th:text="${issue.score}"></td>
		       	<td th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_TITOL}" th:utext="${issue.highlightFields.titol}"></td>
		        
		        
		       <td th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_DESCRIPCIO}">
	        		<ul th:each="texto : ${issue.highlightFields}">
	        			<li th:each="valor: ${texto.value}" th:utext="${valor}"></li>
	        		</ul>
		       </td>
		        
		        <td th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_TODO}">
		        	<span th:each="texto : ${issue.highlightFields}" th:if="${texto.key == 'titol'}" th:utext="${texto.value}"></span>
		        	<span th:each="texto : ${issue.highlightFields}" th:if="${texto.key != 'titol'}" th:utext="${issue.content.titol}"></span>
		        </td>
		        <td th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_TODO}">
		        	<span th:each="texto : ${issue.highlightFields}" th:if="${texto.key == 'descripcio'}" th:utext="${texto.value}"></span>
		        	<span th:each="texto : ${issue.highlightFields}" th:if="${texto.key != 'descripcio'}" th:utext="${issue.content.descripcio}"></span>
		        </td>
		        
		    </tr>
		</table>
		
		<div class="pagination-div" th:if="${page.content} !=null and !${page.content.empty}">
		    <span th:if="${page.hasPrevious()}">
		        <a th:href="@{/web/tosearch(page=${page.number-1},size=${page.size})}" >Previous</a>
		    </span>
		    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
		        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
		        <span th:unless="${page.number == i}">
		             <a th:href="@{/web/tosearch(page=${i},size=${page.size})}" >[[${i}+1]]</a>
		        </span>
		    </th:block>
		    <span th:if="${page.hasNext()}">
		        <a th:href="@{/web/tosearch/(${page.number+1},size=${page.size})}" >Next</a>
		    </span>
		</div>
		
		<div id="countdiv" th:if="${page.content} ==null or ${page.content.empty}">No hi han resultats</div>
	</div>
	
	<div th:if="${session.busqueda.indice} == ${T(cat.vn.pr.config.Constants).INDICE_DOCS}">
		<table id="count" th:if="${page.content} !=null and !${page.content.empty}">
		    <tr>
		    	<th>score</th>
		        <th>Títol</th>
		        <th>Author</th>
		        <th>ContentType</th>
		        <th th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_DATA}" th:text="${T(cat.vn.pr.config.Constants).CAMPO_DATA_NOMBRE}">
		    </tr>
		    <tr th:each="doc : ${page.content}">
		        <td th:text="${doc.score}"></td>
		    	<td th:text="${doc.content.attachment.title}">
		        <td th:text="${doc.content.attachment.author}">
		        <td th:text="${doc.content.attachment.content_type}">
		        <td th:if="${session.busqueda.campo} == ${T(cat.vn.pr.config.Constants).CAMPO_DATA}">
		        	<div th:each="texto : ${doc.highlightFields}" th:utext="${texto.value}"></div>
		        </td>
		    </tr>
		</table>
		
		<div class="pagination-div" th:if="${page.content} !=null and !${page.content.empty}">
		    <span th:if="${page.hasPrevious()}">
		        <a th:href="@{/web/tosearch(page=${page.number-1},size=${page.size})}" >Previous</a>
		    </span>
		    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
		        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
		        <span th:unless="${page.number == i}">
		             <a th:href="@{/web/tosearch(page=${i},size=${page.size})}" >[[${i}+1]]</a>
		        </span>
		    </th:block>
		    <span th:if="${page.hasNext()}">
		        <a th:href="@{/web/tosearch/(${page.number+1},size=${page.size})}" >Next</a>
		    </span>
		</div>
		
		<div id="countdiv" th:if="${page.content} ==null or ${page.content.empty}">No hi han resultats</div>
	</div>
	
</body>
</html>